<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/all/">All</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/polygon/">POLYGON</a> - <a href="<%= PP %>/xdai/">xDAI</a> - <a href="<%= PP %>/avax/">AVAX</a> - <a href="<%= PP %>/fantom/">FANTOM</a> - <a href="<%= PP %>/harmony/">HARMONY</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>

************************ POLYGON NETWORK *************************

---Pool Provider---     --------LP--------      --Reward Tokens--   --INFO--
  Quickswap             <a href="quick"         >Various</a>                QUICK               https://quickswap.exchange/#/quick
  Cometh                <a href="cometh"        >Various</a>                MUST                https://swap.cometh.io/#/stake
  Dark                  <a href="dark"          >Various</a>                DB                  https://www.dark.build
  Smartdex              <a href="smartdex"      >Various</a>                NIOX                https://swap.smartdex.app
  Elk                   <a href="elk"           >Various</a>                ELK                 https://app.elk.finance
  Polywhale             <a href="polywhale"     >Various</a>                KRILL               https://polywhale.finance
  Aave                  <a href="aave"          >Various</a>                MATIC               https://aave.com
  Polyfox               <a href="polyfox"       >Various</a>                FOX                 https://polyfox.finance
  Hawkdex               <a href="hawk"          >Various</a>                HAWK                https://hawkdex.com
  Polycat               <a href="polycat"       >Various</a>                FISH                https://polycat.finance
  BoughtThe.top         <a href="boughtthetop"  >Various</a>                BTT                 https://farm.BoughtThe.top
  PolyStarter           <a href="polystarter"   >Various</a>                STARTER             https://www.polystarter.fi
  Polyvolve             <a href="polyvolve"     >Various</a>                SPEAR               https://polyvolve.finance
  Polygaj               <a href="polygaj"       >Various</a>                GAJ                 https://polygaj.finance
  Galaxy                <a href="galaxy"        >Various</a>                Various             https://galaxyfarm.routerprotocol.com
  Zenko                 <a href="zenko"         >Various</a>                ZENKO               https://app.zenko.finance
  GameSwap              <a href="gameswap"      >Various</a>                STONK               https://gameswapfinance.com
  Polycake              <a href="polycake"      >Various</a>                PCAKE               https://www.polycake.finance

*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">GitHub</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> - <a href="https://www.youtube.com/watch?v=D8RZhK1zcs0" target="_blank">YouTube</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
