<div>
<a href="<%= PP %>/">Home</a> -
<a href="<%= PP %>/mcn/">MCN</a> -
<a href="<%= PP %>/all/">All</a> -
<a href="<%= PP %>/bsc/">BSC</a> -
<a href="<%= PP %>/arbitrum/">ARBITRUM</a> -
<a href="<%= PP %>/heco/">HECO</a> -
<a href="<%= PP %>/polygon/">POLYGON</a> -
<a href="<%= PP %>/xdai/">xDAI</a> -
<a href="<%= PP %>/avax/">AVAX</a> -
<a href="<%= PP %>/fantom/">FANTOM</a> -
<a href="<%= PP %>/harmony/">HARMONY</a> -
<a href="<%= PP %>/fuse/">FUSE</a> -
<a href="<%= PP %>/thundercore/">ThunderCore</a> -
<a href="<%= PP %>/okex/">OKEX</a> -
<a href="<%= PP %>/kcc/">KUCOIN</a> -
<a href="<%= PP %>/celo/">CELO</a> -
<a href="<%= PP %>/iotex/">IoTeX</a> -
<a href="<%= PP %>/moonriver/">Moonriver</a> -
<a href="<%= PP %>/optimism/">Optimism</a> -
<a href="<%= PP %>/smartbch/">SmartBCH</a> -
<a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<%- include(`${partials}/quick`); -%>
<%- include(`${partials}/pool_details_modal`); -%>
<%- include(`${partials}/theme`); -%>
