<div>
<a href="<%= PP %>/">Home</a> -
<a href="<%= PP %>/validators/">VALIDATORS</a> -
<a href="<%= PP %>/lp_breaker/">LP-BREAKER</a> -
<a href="<%= PP %>/clp_breaker/">CONCENTRATE LP-BREAKER</a> -
<a href="<%= PP %>/bnb/">BNB</a> -
<a href="<%= PP %>/arbitrum/">ARBITRUM</a> -
<a href="<%= PP %>/heco/">HECO</a> -
<a href="<%= PP %>/polygon/">POLYGON</a> -
<a href="<%= PP %>/gnosis/">GNOSIS</a> -
<a href="<%= PP %>/avax/">AVAX</a> -
<a href="<%= PP %>/fantom/">FANTOM</a> -
<a href="<%= PP %>/harmony/">HARMONY</a> -
<a href="<%= PP %>/fuse/">FUSE</a> -
<a href="<%= PP %>/thundercore/">ThunderCore</a> -
<a href="<%= PP %>/okex/">OKEX</a> -
<a href="<%= PP %>/kcc/">KUCOIN</a> -
<a href="<%= PP %>/celo/">CELO</a> -
<a href="<%= PP %>/iotex/">IoTeX</a> -
<a href="<%= PP %>/moonriver/">Moonriver</a> -
<a href="<%= PP %>/optimism/">Optimism</a> -
<a href="<%= PP %>/smartbch/">SmartBCH</a> -
<a href="<%= PP %>/polis/">Polis</a> -
<a href="<%= PP %>/cronos/">Cronos</a> -
<a href="<%= PP %>/velas/">Velas</a> -
<a href="<%= PP %>/aurora/">Aurora</a> -
<a href="<%= PP %>/boba/">Boba</a> -
<a href="<%= PP %>/metis/">Metis</a> -
<a href="<%= PP %>/meter/">Meter</a> -
<a href="<%= PP %>/emerald/">Emerald</a> -
<a href="<%= PP %>/moonbeam/">Moonbeam</a> -
<a href="<%= PP %>/telos/">Telos</a> -
<a href="<%= PP %>/dfk/">DFK</a> -
<a href="<%= PP %>/astar/">Astar</a> -
<a href="<%= PP %>/milkomeda/">Milkomeda</a> -
<a href="<%= PP %>/evmos/">EVMOS</a> -
<a href="<%= PP %>/hoo/">Hoo</a> -
<a href="<%= PP %>/kava/">Kava</a> -
<a href="<%= PP %>/doge/">Doge</a> -
<a href="<%= PP %>/findora/">Findora</a> -
<a href="<%= PP %>/canto/">CANTO</a> -
<a href="<%= PP %>/ethw/">ETHW</a> -
<a href="<%= PP %>/klaytn/">Klaytn</a> -
<a href="<%= PP %>/fx/">Function X</a> -
<a href="<%= PP %>/core/">Core</a> -
<a href="<%= PP %>/arbitrum_nova/">Arbitrum Nova</a> -
<a href="<%= PP %>/zksync_era/">zkSync Era</a> -
<a href="<%= PP %>/zkevm/">zkEVM</a> -
<a href="<%= PP %>/pulse/">Pulse</a> -
<a href="<%= PP %>/tenet/">Tenet</a> -
<a href="<%= PP %>/base/">Base</a> -
<a href="<%= PP %>/mantle/">Mantle</a> -
<a href="<%= PP %>/manta/">Manta</a> -
<a href="<%= PP %>/shimmer/">Shimmer</a> -
<a href="<%= PP %>/scroll/">Scroll</a> -
<a href="<%= PP %>/linea/">Linea</a> -
<a href="<%= PP %>/mode/">Mode</a> -
<a href="<%= PP %>/fraxtal/">Fraxtal</a> -
<a href="<%= PP %>/lisk/">Lisk</a> -
<a href="<%= PP %>/sonic/">Sonic</a> -
<a href="<%= PP %>/metal_l2/">Metal-L2</a> -
<a href="<%= PP %>/ink/">Ink</a> -
<a href="<%= PP %>/soneium/">Soneium</a> -
<a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<%- include(`${partials}/quick`); -%>
<%- include(`${partials}/pool_details_modal`); -%>
<%- include(`${partials}/theme`); -%>
