<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/all/">All</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/polygon/">POLYGON</a> - <a href="<%= PP %>/xdai/">xDAI</a> - <a href="<%= PP %>/avax/">AVAX</a> - <a href="<%= PP %>/fantom/">FANTOM</a> - <a href="<%= PP %>/harmony/">HARMONY</a> - <a href="<%= PP %>/fuse/">FUSE</a> - <a href="<%= PP %>/thundercore/">ThunderCore</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<%- include(`${partials}/quick`); -%>
<%- include(`${partials}/pool_details_modal`); -%>
