<div>
    <a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<%- include(`${partials}/quick`); -%>