<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
************************ BINANCE SMART CHAIN *************************

---Pool Provider---     --------LP--------          --Reward Tokens--   --INFO--
     Pancake              <a href="pancake"       >Various</a>                    CAKE                https://pancakeswap.finance
     Apeswap              <a href="apeswap"       >Various</a>                    BANANA              https://apeswap.finance
     Autofarm             <a href="autofarm"      >Various</a>                    AUTOFARM            https://autofarm.network
     Bake                 <a href="bake"          >Various</a>                    BAKE                https://www.bakeryswap.org
     Brew                 <a href="brew"          >Various</a>                    BREW                https://cafeswap.finance
     Donut                <a href="donut"         >Various</a>                    DONUT               https://donutdefi.com
     Pumpkin              <a href="pumpkin"       >Various</a>                    PUMP                https://pumpkindefi.org
     Teamrocket           <a href="teamrocket"    >Various</a>                    MEOWTH              https://teamrocket.app/farms
     Ramen                <a href="ramen"         >Various</a>                    RAMENSWAP           https://ramenswap.finance
     Rose                 <a href="rose"          >Various</a>                    ROSE                https://roseswap.app
     Goose                <a href="goose"         >Various</a>                    GOOSE               https://www.goosedefi.com
     Salt                 <a href="salt"          >Various</a>                    SALT                https://www.saltswap.finance
     Soup                 <a href="soup"          >Various</a>                    SOUP                https://soups.finance
     Kebab                <a href="kebab"         >Various</a>                    KEBAB               https://kebabfinance.com
     Kimochi              <a href="kimochi"       >Various</a>                    KIMOCHI             https://kimochi.finance
     Viking               <a href="viking"        >Various</a>                    VIKING              https://www.vikingswap.finance
     Xoxo                 <a href="xoxo"          >Various</a>                    XOXO                https://xoxo.finance
     Nyan                 <a href="nyan"          >Various</a>                    NYAN                https://yieldnyan.com
     bDollar              <a href="bdo/"          >Various</a>                    BDO/sBDO/bBDO       https://bdollar.fi
     Beluga               <a href="beluga/"       >Various</a>                    BELUGA              https://belugaprotocol.org
     BoltDollar           <a href="btd/"          >Various</a>                    BTD/BTS/BTB         https://boltdollar.finance
     Nya Cash             <a href="nya/"          >Various</a>                    NYAS/NYAC           https://nya.cash
     YieldScienceLabs     <a href="ysl/"          >Various</a>                    Various             https://yieldlab.science/


*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
