<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>
  <body>
    <pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/all/">All</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/matic/">MATIC</a> - <a href="<%= PP %>/xdai/">xDAI</a> - <a href="<%= PP %>/avax/">AVAX</a> - <a href="<%= PP %>/fantom/">FANTOM</a> - <a href="<%= PP %>/harmony/">HARMONY</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<div>
<a href="https://www.youtube.com/watch?v=D8RZhK1zcs0" target="_blank">Youtube tutorial!</a> by the excellent <a href="https://twitter.com/gabrielhaines" target="_blank">Gabriel Haines</a>
</div>

************************ BINANCE SMART CHAIN *************************

---Pool Provider---     --------LP--------          --Reward Tokens--   --INFO--

     Absorber             <a href="absorber"      >Various</a>                    ABS                 https://absorber.finance
     Acryptos             <a href="acryptos"      >Various</a>                    ACS                 https://app.acryptos.com
     Alchemist            <a href="alchemist"     >Various</a>                    MIST                https://www.alchemistdefi.com
     Alpaca               <a href="alpaca"        >Various</a>                    ALPACA              https://app.alpacafinance.org
     ApeSafe              <a href="apesafe"       >Various</a>                    APESAFE             https://apesafe.finance
     Apeswap              <a href="apeswap"       >Various</a>                    BANANA              https://apeswap.finance
     Autofarm             <a href="autofarm"      >Various</a>                    AUTOFARM            https://autofarm.network
     Bake                 <a href="bake"          >Various</a>                    BAKE                https://www.bakeryswap.org
     bDollar              <a href="bdo/"          >Various</a>                    BDO/sBDO/bBDO       https://bdollar.fi
     Beefy                <a href="beefy"         >Various</a>                    BIFI                https://app.beefy.finance
     Belt                 <a href="belt"          >Various</a>                    BELT                https://beta.belt.fi
     Beluga               <a href="beluga/"       >Various</a>                    BELUGA              https://belugaprotocol.org
     Bender               <a href="bender"        >Various</a>                    BENDER              https://bender.finance
     Berry                <a href="berry"         >Various</a>                    BRY                 https://berrydata.co
     Biscuit              <a href="biscuit"       >Various</a>                    BCU                 https://biscuitfarm.finance
     Biti                 <a href="biti"          >Various</a>                    BITI                https://www.biti.city
     Blizzard             <a href="blizzard"      >Various</a>                    BLZD                https://blizzard.money
     Blueswap             <a href="blueswap"      >Various</a>                    BLUE                https://app.blueswap.finance
     Boba                 <a href="boba"          >Various</a>                    BOBA                https://bobadefi.com
     BoltDollar           <a href="btd/"          >Various</a>                    BTD/BTS/BTB         https://boltdollar.finance
     Brew                 <a href="brew"          >Various</a>                    BREW                https://cafeswap.finance
     Brickchain           <a href="brickchain"    >Various</a>                    BRICK               https://brickchain.finance
     BVaults              <a href="bvaults"       >Various</a>                    Various             https://bvaults.fi
     Carrotcake           <a href="ccake"         >Various</a>                    cCAKE               https://carrotcake.fi
     Comos                <a href="comos"         >Various</a>                    COMOS               https://app.comos.finance
     Complus              <a href="complus"       >Various</a>                    COM                 https://bsc.complus.exchange
     Coral                <a href="coral"         >Various</a>                    CRL                 https://coralfarm.finance
     Cub                  <a href="cub"           >Various</a>                    CUB                 https://cubdefi.com
     Deflate              <a href="deflate"       >Various</a>                    BLN                 https://deflate.finance
     Donut                <a href="donut"         >Various</a>                    DONUT               https://donutdefi.com
     Duck                 <a href="duck"          >Various</a>                    DUCK                https://duckswap.finance
     Duck Money           <a href="duckmoney"     >Various</a>                    DUCK                https://duck.money
     Ducks                <a href="ducks"         >Various</a>                    DUCK                https://ducks.finance
     Eleven               <a href="eleven"        >Various</a>                    ELE                 https://eleven.finance
     Ellipsis             <a href="ellipsis"      >Various</a>                    EPS                 https://ellipsis.finance
     Fed                  <a href="fed"           >Various</a>                    FED                 https://fedswap.finance
     Friction             <a href="friction"      >Various</a>                    TAO                 https://friction.finance
     Fullsail             <a href="fullsail"      >Various</a>                    SAIL                https://fullsail.finance
     Gemz                 <a href="gemz"          >Various</a>                    GEMZ                https://www.gemz.finance
     Glacier              <a href="glacier"       >Various</a>                    ICE                 https://glacierswap.org/farms
     Goose                <a href="goose"         >Various</a>                    GOOSE               https://www.goosedefi.com
     Hawk                 <a href="hawk"          >Various</a>                    HAWK                https://hawkbsc.net
     Helmet               <a href="helmet"        >Various</a>                    Various             https://www.helmet.insure
     Hyperjump            <a href="hyperjump"     >Various</a>                    ALLOY               https://farm.hyperjump.fi
     Hyrule               <a href="hyrule"        >Various</a>                    RUPEE               https://app.hyruleswap.com
     Iceberg              <a href="iceberg"       >Various</a>                    TIT                 https://icebergdefi.com
     Icecream             <a href="icecream"      >Various</a>                    GLTO                https://icecreamswap.finance
     Iron Finance         <a href="iron"          >Various</a>                    STEEL               https://iron.finance
     Jade                 <a href="jade"          >Various</a>                    JADE                https://jadedefi.com
     Jalapenos            <a href="jalapeno"      >Various</a>                    JLP                 https://jalapenos.finance
     Jiggly               <a href="jiggly"        >Various</a>                    JIGG                https://www.jiggly.finance
     Julswap              <a href="julswap"       >Various</a>                    Various             https://julswap.com
     Jurassicfarm         <a href="jurassicfarm"  >Various</a>                    DINO                https://www.jurassicfarm.app
     Kebab                <a href="kebab"         >Various</a>                    KEBAB               https://kebabfinance.com
     Kickstart            <a href="kickstart"     >Various</a>                    KICK                https://kickstart.finance
     Kimochi              <a href="kimochi"       >Various</a>                    KIMOCHI             https://kimochi.finance
     Kingdom              <a href="kingdom"       >Various</a>                    CROWN               https://kingdomswap.finance
     Knight               <a href="knight"        >Various</a>                    KNIGHT              https://www.knightsdefi.com
     Koala                <a href="koala"         >Various</a>                    LYPTUS              https://koaladefi.finance
     Meerkat              <a href="meerkat"       >Various</a>                    XKAT                https://xkat.vercel.app
     Meme                 <a href="meme"          >Various</a>                    MFRM                https://memefarm.io
     MidasDollar          <a href="midasdollar"   >Various</a>                    MDS/MDO             https://midasdollar.fi
     MidasGold            <a href="midasgold"     >Various</a>                    Various             https://midasgold.network
     Mochi                <a href="mochi"         >Various</a>                    MOCHI               https://pool.mochiswap.io
     MonsterSlayer        <a href="msc"           >Various</a>                    MSS/MSC             https://monsterslayer.finance
     Mooncake             <a href="mooncake"      >Various</a>                    MCAKE               https://mooncakeswap.finance
     Mozart               <a href="mozart"        >Various</a>                    PIANO               https://mozartfinance.io
     Muscle               <a href="muscle"        >Various</a>                    MUSCLE              https://muscle.finance
     Mythic               <a href="mythic"        >Various</a>                    MAGIC               https://www.mythic.finance
     Nerve                <a href="nerve"         >Various</a>                    NRV                 https://nerve.fi
     Nut                  <a href="nut"           >Various</a>                    NUT                 https://www.nutdefi.finance
     Nya Cash             <a href="nya/"          >Various</a>                    NYAS/NYAC           https://nya.cash
     Nyan                 <a href="nyan"          >Various</a>                    NYAN                https://yieldnyan.com
     Oat                  <a href="oat"           >Various</a>                    OAT                 https://oatswap.org
     Octree               <a href="octree"        >Various</a>                    OAK                 https://octree.finance
     Pancake              <a href="pancake"       >Various</a>                    CAKE                https://pancakeswap.finance
     Panda                <a href="panda"         >Various</a>                    BBOO                https://pandayield.com
     Pineapple            <a href="pineapple"     >Various</a>                    PIN                 https://www.pineappledefi.com
     Pokemoon             <a href="pokemoon"      >Various</a>                    KBN                 https://pokemoon.app
     Polaris              <a href="polaris"       >Various</a>                    POLAR               https://app.polarisdefi.io
     Polis                <a href="polis"         >Various</a>                    POLIS               https://farms.polispay.org
     Pollo                <a href="pofi"          >Various</a>                    POFI                https://pollo.finance
     Poopswap             <a href="poop"          >Various</a>                    POOP                https://poopswap.finance
     Popsicle             <a href="popsicle"      >Various</a>                    ICE                 https://popsicle.finance
     Pumpkin              <a href="pumpkin"       >Various</a>                    PUMP                https://pumpkindefi.org
     Pumpy                <a href="pumpy"         >Various</a>                    PMP                 https://pumpy.farm
     Pyramid              <a href="pyramid"       >Various</a>                    RA                  https://pyramidswap.com
     Ramen                <a href="ramen"         >Various</a>                    RAMENSWAP           https://ramenswap.finance
     Royal                <a href="royal"         >Various</a>                    ROYA                https://royalswap.io
     Runner               <a href="runner"        >Various</a>                    ENERGY              https://bscrunner.com
     Salt                 <a href="salt"          >Various</a>                    SALT                https://www.saltswap.finance
     Sashimi              <a href="sashimi"       >Various</a>                    SASHIMI             https://bsc.sashimi.cool
     Shitz                <a href="shitz"         >SHITZ/BNB LP</a>               WBNB/ACS            https://shitz.lol
     Slime                <a href="slime"         >Various</a>                    SLIME               http://slime.finance
     Soup                 <a href="soup"          >Various</a>                    SOUP/SOUPS          https://soups.finance
     Space                <a href="space"         >Various</a>                    SPACE               https://farm.space
     Squirrel             <a href="squirrel"      >Various</a>                    NUTS                https://squirrel.finance
     Stakd                <a href="stakd"         >Various</a>                    STAKD               https://app.stakd.finance
     Swamp                <a href="swamp"         >Various</a>                    SWAMP               https://swamp.finance
     Swipe                <a href="swipe"         >Various</a>                    SXP                 https://swipe.org
     Swirl                <a href="swirl"         >Various</a>                    SWIRL               https://swirl.cash/mining
     Taco                 <a href="taco"          >Various</a>                    TACO                https://taco.finance
     Teddy                <a href="teddy"         >Various</a>                    TEDDY               https://teddy.bears.finance
     Toad Swap            <a href="toad"          >Various</a>                    TOAD                https://toad.farm
     Tree                 <a href="tree"          >Various</a>                    SEED                https://app.treedefi.com
     Tsuki                <a href="tsuki"         >Various</a>                    TSUKI               https://tsuki.finance
     UFO Swap             <a href="ufo"           >Various</a>                    UFO                 https://ufodefi.com
     ValueDefi            <a href="valuedefi"     >Various</a>                    vBSWAP              https://bsc.valuedefi.io/#/vfarm
     Viking               <a href="viking"        >Various</a>                    VIKING              https://www.vikingswap.finance
     Vlad                 <a href="vlad"          >Various</a>                    LIFE                https://app.vlad.finance
     Voodoo               <a href="voodoo"        >Various</a>                    VOODOO              https://voodoo.supra.finance
     Wantanmee            <a href="wantanmee"     >Various</a>                    MEE/MES             https://wantanmee.finance
     Wault                <a href="wault"         >Various</a>                    WAULT               https://app.wault.finance
     Wynaut               <a href="wynaut"        >Various</a>                    MEOWTH              https://wynautdefi.app
     Xoxo                 <a href="xoxo"          >Various</a>                    XOXO                https://xoxo.finance
     yBear                <a href="ybear"         >Various</a>                    yBHONEY             http://farm.ybear.finance
     Yieldbay             <a href="yieldbay"      >Various</a>                    PALM                https://yieldbay.finance
     YieldScienceLabs     <a href="ysl/"          >Various</a>                    Various             https://yieldlab.science
     Yoda                 <a href="yoda"          >Various</a>                    YODA                https://yodaswap.finance
     Yumcha               <a href="yumcha"        >Various</a>                    YUMCHA              https://yumcha.finance
     Zcore                <a href="zcore"         >Various</a>                    ZEFI                https://finance.zcore.network
*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
    <%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
  </body>
</html>
