<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<div>
<a href="https://www.youtube.com/watch?v=D8RZhK1zcs0" target="_blank">Youtube tutorial!</a> by the excellent <a href="https://twitter.com/gabrielhaines" target="_blank">Gabriel Haines</a>
</div>

************************ BINANCE SMART CHAIN *************************

---Pool Provider---     --------LP--------          --Reward Tokens--   --INFO--
     Pancake              <a href="pancake"       >Various</a>                    CAKE                https://pancakeswap.finance
     Apeswap              <a href="apeswap"       >Various</a>                    BANANA              https://apeswap.finance
     Autofarm             <a href="autofarm"      >Various</a>                    AUTOFARM            https://autofarm.network
     Bake                 <a href="bake"          >Various</a>                    BAKE                https://www.bakeryswap.org
     Brew                 <a href="brew"          >Various</a>                    BREW                https://cafeswap.finance
     Donut                <a href="donut"         >Various</a>                    DONUT               https://donutdefi.com
     Pumpkin              <a href="pumpkin"       >Various</a>                    PUMP                https://pumpkindefi.org
     Teamrocket           <a href="teamrocket"    >Various</a>                    MEOWTH              https://teamrocket.app/farms
     Ramen                <a href="ramen"         >Various</a>                    RAMENSWAP           https://ramenswap.finance
     Rose                 <a href="rose"          >Various</a>                    ROSE                https://roseswap.app
     Goose                <a href="goose"         >Various</a>                    GOOSE               https://www.goosedefi.com
     Salt                 <a href="salt"          >Various</a>                    SALT                https://www.saltswap.finance
     Soup                 <a href="soup"          >Various</a>                    SOUP/SOUPS          https://soups.finance
     Kebab                <a href="kebab"         >Various</a>                    KEBAB               https://kebabfinance.com
     Kimochi              <a href="kimochi"       >Various</a>                    KIMOCHI             https://kimochi.finance
     Viking               <a href="viking"        >Various</a>                    VIKING              https://www.vikingswap.finance
     Xoxo                 <a href="xoxo"          >Various</a>                    XOXO                https://xoxo.finance
     Nyan                 <a href="nyan"          >Various</a>                    NYAN                https://yieldnyan.com
     bDollar              <a href="bdo/"          >Various</a>                    BDO/sBDO/bBDO       https://bdollar.fi
     Beluga               <a href="beluga/"       >Various</a>                    BELUGA              https://belugaprotocol.org
     BoltDollar           <a href="btd/"          >Various</a>                    BTD/BTS/BTB         https://boltdollar.finance
     Nya Cash             <a href="nya/"          >Various</a>                    NYAS/NYAC           https://nya.cash
     YieldScienceLabs     <a href="ysl/"          >Various</a>                    Various             https://yieldlab.science
     Icecream             <a href="icecream"      >Various</a>                    GLTO                https://icecreamswap.finance
     Mochi                <a href="mochi"         >Various</a>                    MOCHI               https://pool.mochiswap.io
     Oat                  <a href="oat"           >Various</a>                    OAT                 https://oatswap.org
     ValueDefi            <a href="valuedefi"     >Various</a>                    vBSWAP              https://bsc.valuedefi.io/#/vfarm
     Taste                <a href="taste"         >Various</a>                    TASTE               https://taste.finance
     MonsterSlayer        <a href="msc"           >Various</a>                    MSS/MSC             https://monsterslayer.finance
     Kickstart            <a href="kickstart"     >Various</a>                    KICK                https://kickstart.finance
     Boba                 <a href="boba"          >Various</a>                    BOBA                https://bobadefi.com
     MidasDollar          <a href="midasdollar"   >Various</a>                    MDS/MDO             https://midasdollar.fi
     Slime                <a href="slime"         >Various</a>                    SLIME               http://slime.finance
     Lotus                <a href="lotus"         >Various</a>                    LOTUS               https://lotusfinance.org/farms
     Stakd                <a href="stakd"         >Various</a>                    STAKD               https://app.stakd.finance
     Glacier              <a href="glacier"       >Various</a>                    ICE                 https://glacierswap.org/farms/
     Alpaca               <a href="alpaca"        >Various</a>                    ALPACA              https://app.alpacafinance.org
     UFO Swap             <a href="ufo"           >Various</a>                    UFO                 https://ufodefi.com
     Mythic               <a href="mythic"        >Various</a>                    MAGIC               https://www.mythic.finance
     Wault                <a href="wault"         >Various</a>                    WAULT               https://app.wault.finance

*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
